<html>
  <head>
    <style type="text/css">
      body{
	  color: black;
	  margin: 0px;
      }

      .title-container{
	  color: white;
	  position: relative;
	  background-color: #275a74;
	  padding: 25px;
      }
      .title{
	  position:relative;
	  margin-left: 40%;
	  margin-top: 0%;
      }
      #prezzo{
	  color: gray;
	  font-size: 30px;
	  
      }
      .grounds-info{
	  margin-left: 25%;
      }
      .ground-element{
	  padding: 20px;
      }
      .td-description{
	  width: 512px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  border-bottom: 1px solid lightgray;
      }
      #hidden-link{
	  visibility: hidden;
      }
      span{
	  cursor: pointer;
	  font-size: larger;
      }

      #commentbtn{
	  
	  padding: 12px 20px;
	  margin: 8px 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	  background-color: #00008B;
	  font-weight: bold;
	  color:white;
	  cursor: pointer;
      }
      #commentbtn:active{
	  background-color: #000080;
      }

      #comment{
	  border-radius: 0.5px;
	  resize: none;
	  width: 512px;
	  height: 150px;
      }
      .users-reviews{
	  margin-left: 25%;
      }
      .border-top-row{
	  border-top: 1px solid lightgray;
      }
      table{
	  border-collapse: collapse;
      }

      .day-choice{
	  padding: 12px 20px;
	  margin: 8px 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
      }

      #search-timetable-btn{
	  padding: 12px 20px;
	  margin: 8px 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	  background-color: #c12400;
	  font-weight: bold;
	  color:white;
	  cursor: pointer;
      }
      #search-timetable-btn:active{
	  background-color: #b52100;
      }

      .booking-div{
	  padding-top: 50px;
	  padding-bottom: 50px;
      }

      #book-link{
	  
	  padding-left: 15px;
      }

      .books-table{
	  margin-top: 10px;
      }

      #book-link{
	  padding: 10px;
      }
    </style>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      .checked {
	  color: orange;
      }
      
    </style>
  </head>

  <body>
    <div class="title-container">
      <h1 class="title"><%= @ground.title %></h1>
    </div>
    <div class="grounds-info">
      <table id="fixedheight">
	<tr>
	  <td> <%= image_tag @ground.image %> </td>
	  <td>
	    <table class="table-prova">
	      <tr><td class="ground-element" id ="prezzo"><b><%= @ground.price %>€ </b></td></tr>
	      <tr><td class="ground-element"> <b>Voto</b>: <%= @ground.rating %> </td></tr>
	      <tr><td class="ground-element"> <b>Città</b>: <%= @ground.city %> </td></tr>
	      <tr><td class="ground-element"> <b>Indirizzo</b>: <%= @ground.address %> </td></tr>
	    </table>
	  </td>
	</tr>
      </table>
      <table class="description">
	<tr class="border-top-row"><td style="padding-top: 10px;"><b> DESCRIZIONE </b></td></tr>
	<tr><td class="td-description"><%= @ground.description %></td></tr>
      </table>

      <div class="booking-div">
	<form class="search-time-form">
	  <select name="dayChoice" id="dayID" class="day-choice">
	    <option> Lunedì </option>
	    <option> Martedì </option>
	    <option> Mercoledì </option>
	    <option> Giovedì </option>
	    <option> Venerdì </option>
	    <option> Sabato </option>
	    <option> Domenica </option>
	  </select>
	  
	  <%= button_to "Cerca", grounds_path, :method => 'get', class: 'btn-search', id: "search-timetable-btn" %>
	  
	  <table class="books-table">
	    <% @books.each do |book| %>
	    <% if Timetable.find(book.timetable_id).day == params[:dayChoice] %>
	    <% if book.ground_id == params[:id].to_i %>
	    <% if book.user_id == nil %>
	    <tr>
	      <td style="color: green;"><b><%= book.timetable.from %>:00 - </b></td>
	      <td style="color: green;"><b><%= book.timetable.to %>:00 </b></td>
	      <td id="book-link"><b> <%= link_to "Prenota", ground_books_path(@ground, :timetable_id => book.timetable.id), :method => :post %> </b></td>
	    </tr>
	    <% else %>
	    <tr>
	      <td style="color: red; padding: 10px;"><b><%= book.timetable.from %>:00 - </b></td>
	      <td style="color: red;"><b><%= book.timetable.to %>:00</b></td>
	    </tr>
	    <% end %>
	    <% end %>
	    <% end %> 
	    <% end %>
	  </table>
	</form>
      </div>
      
      <table class="review-table">
	<tr><td>
	    <big><big><span class="fa fa-star checked" id="star1" onclick="ratingChecked1()"></span></big></big>
	    <big><big><span class="fa fa-star" id="star2" onclick="ratingChecked2()"></span></big></big>
	    <big><big><span class="fa fa-star" id="star3" onclick="ratingChecked3()"></span></big></big>
	    <big><big><span class="fa fa-star" id="star4" onclick="ratingChecked4()"></span></big></big>
	    <big><big><span class="fa fa-star" id="star5" onclick="ratingChecked5()"></span></big></big>
	</td></tr>
	<tr>
	  <td><textarea id="comment" placeholder="Scrivi una recensione"></textarea></td>
	</tr>
      </table>
      <td><button id="commentbtn" onclick="addReview()">Commenta!</button></td>
      <%= link_to "Commenta!", new_ground_review_path(@ground), id:"hidden-link"%>
    </div>

    
    <div class="users-reviews">
      <h2> <%= @reviews.count %> Commenti: </h2>
      <table>
	<% @reviews.each do |review| %>
	<tr class="border-top-row">
	  <td style="padding-top:20px; padding-left: 10px; padding-bottom:10px;"><b> <%= User.all.find(review.user_id).name %> </b></td>
	  <td style="padding-top:10px;"> Voto: <%= review.rating %> </td>

	</tr>
	<tr><td style="padding-left:10px; padding-bottom:20px"> <%= review.comments %> </td></tr>
	<% end %>
      </table>
    </div>
    
  </body>
  
  <script>

    function addReview(){
	//Attraverso questo script attivo il link nascosto per andare nella pagina new della review
	localStorage.setItem("comment", document.getElementById("comment").value);
	if(document.getElementById("star5").className == "fa fa-star checked"){
	    localStorage.setItem("rating", "5");
	}else if(document.getElementById("star4").className == "fa fa-star checked"){
	    localStorage.setItem("rating", "4");
	}else if(document.getElementById("star3").className == "fa fa-star checked"){
	    localStorage.setItem("rating", "3");
	}else if(document.getElementById("star2").className == "fa fa-star checked"){
	    localStorage.setItem("rating", "2");
	}else{
	    localStorage.setItem("rating", "1");
	}
	document.getElementById("hidden-link").click();
    }

    function ratingChecked1(){
	if(document.getElementById("star1").className == "fa fa-star checked"){
	    document.getElementById("star5").className = "fa fa-star";
	    document.getElementById("star4").className = "fa fa-star";
	    document.getElementById("star3").className = "fa fa-star";
	    document.getElementById("star2").className = "fa fa-star";
	}else{
	    document.getElementById("star1").className = "fa fa-star checked";
	}
    }

    function ratingChecked2(){
	if(document.getElementById("star2").className == "fa fa-star checked"){
	    document.getElementById("star5").className = "fa fa-star";
	    document.getElementById("star4").className = "fa fa-star";
	    document.getElementById("star3").className = "fa fa-star";
	}else{
	    document.getElementById("star1").className = "fa fa-star checked";
	    document.getElementById("star2").className = "fa fa-star checked";
	}
    }

    function ratingChecked3(){
	if(document.getElementById("star3").className == "fa fa-star checked"){
	    document.getElementById("star5").className = "fa fa-star";
	    document.getElementById("star4").className = "fa fa-star";
	}else{
	    document.getElementById("star1").className = "fa fa-star checked";
	    document.getElementById("star2").className = "fa fa-star checked";
	    document.getElementById("star3").className = "fa fa-star checked";
	}
    }

    function ratingChecked4(){
	if(document.getElementById("star4").className == "fa fa-star checked"){
	    document.getElementById("star5").className = "fa fa-star";
	}else{
	    document.getElementById("star1").className = "fa fa-star checked";
	    document.getElementById("star2").className = "fa fa-star checked";
	    document.getElementById("star3").className = "fa fa-star checked";
	    document.getElementById("star4").className = "fa fa-star checked";
	}
    }

    function ratingChecked5(){
	if(!(document.getElementById("star5").className == "fa fa-star checked")){
	    document.getElementById("star1").className = "fa fa-star checked";
	    document.getElementById("star2").className = "fa fa-star checked";
	    document.getElementById("star3").className = "fa fa-star checked";
	    document.getElementById("star4").className = "fa fa-star checked";
	    document.getElementById("star5").className = "fa fa-star checked";
	}
    }
    
  </script>
</html>
