<!DOCTYPE html>
<style>
  
  body{
      margin: 0px;
  }
      
</style>

<html>
  <head>
    <title>SportsBook</title>
    <style type="text/css">
      .header{
	  background-color: #24536b;
	  color:white;
	  padding: 15px;
	  overflow: auto;
      }
      .logo{
	  float: left;
      }
      .user{
	  float: right;
      }
      .logo-link{
	  color: white;
	  text-decoration: none;
      }
    </style>
    <div class="header">
      <div class="logo">
	<table>
	  <tr><td><a href="/grounds" class="logo-link"> <h1>SportsBook</h1> </a></td></tr>
	</table>
      </div>
      <div class="user">
	<% if user_signed_in? %>
	<%= current_user.email %>
	<%= link_to "Profile", user_path(current_user.id), :method => :get %>
	<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
	<% end %>
      </div>
    </div>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
